/* ===== Reset + базові ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 2rem;
  color: hsl(30, 10%, 34%); /* Stone 600 */
  background-color: hsl(30, 54%, 90%); /* Stone 100 */
}


    img {
  width: 100%; /* зображення розтягується на всю ширину */
  border-radius: 1rem; /* округлення країв */
  margin-bottom: 1.5rem; /* відступ знизу */
}

/* Заголовок рецепту */
h1 {
  font-size: 2.5rem;
  color: #312e2c;
  margin-bottom: 1rem;
}

h1, h2 {
  font-family: 'Young Serif', serif;
  color: hsl(14, 45%, 36%); /* Brown 800 */
}

/* Опис під заголовком */
p {
  color: #5f564d;
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.prep-time {
  background-color: #fff7fb;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.prep-time h2 {
  color: #7b284f;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.prep-time ul {
  padding-left: 1.2rem;
  list-style-type: disc;
  color: #5f564d;
}

.prep-time li {
  margin-bottom: 0.5rem;
}

.ingredients {
  margin-bottom: 2rem;
}

.ingredients h2 {
  color: #854632;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.ingredients ul {
  list-style: disc;
  padding-left: 1.5rem;
  color: #5f564d;
}

.ingredients li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.instructions {
  margin-bottom: 2rem;
}

.instructions h2 {
  color: #854632;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.instructions ol {
  padding-left: 1.5rem;
  color: #5f564d;
  counter-reset: step;
}

.instructions li {
  margin-bottom: 1rem;
  line-height: 1.5;
  list-style: none;
  position: relative;
  padding-left: 2rem;
}

.instructions li::before {
  content: counter(step) ".";
  counter-increment: step;
  position: absolute;
  left: 0;
  color: #854632;
  font-weight: bold;
}

.nutrition {
  margin-bottom: 2rem;
}

.nutrition h2 {
  color: #854632;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.nutrition p {
  margin-bottom: 1.5rem;
  color: #5f564d;
}

.nutrition table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  color: #5f564d;
}

.nutrition td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #e3ddd7;
}

.nutrition tr:last-child td {
  border-bottom: none;
}